<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/all.css">
    <title>About</title>
</head>

<body>

    <!-- About window -->
    <div class="container">
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
                <center>
                    <h1 class="card-title front py-1">Welcome to Lucero</h1>
                </center>
                <div class="tags flex-row">
                    <a href="/" class="btn btn-primary mx-2 tag">SignIn</a>
                    <a href="/signUp" class="btn btn-primary mx-2 tag">SignUp</a>
                    <a href="/about" class="btn btn-primary mx-2 tag">About</a>
                </div>
                <div class="front-page px-5 py-2">
                    <p style="font-size: 3vh;">Hello and welcome to all. Today we are so proud to introduce you to “Lucero”, something that will
                        revolutionize the way we learn skills and share them with our people and we are so grateful that
                        despite all of your busy schedules you all choose to witness this moment. </p>
                    <p style="font-size: 3vh;"> “Lucero” is a place, a home of ideas, skills, friends, innovations and almost anything. It is a
                        platform where knowledge is free and available to everyone, it is a place of creating
                        communities and helping each other and growing it into something valuable for everyone's future.
                    </p>
                    <p style="font-size: 3vh;"> At “Lucero” we believe in the idea of sharing, the more we share the more we learn and thus we
                        are devoted to provide you with all the tools needed to form these connections, to build a world
                        where we all come together to solve problems that separate us from our dreams and to grow
                        together. </p>
                    <p style="font-size: 3vh;">Come join us and be the change that you want to see in the world.</p>
                </div>
                <br>
                <p class="copyright">Copyright © 2022 Jatin Gautam </p>
                <p class="copyright">Email - lucero2a134@gmail.com</p>
                <center>
                    <p class="copyright"><span><i class="fab fa-twitter-square copyright fa-2x"></i></span>
                        www.twitter.com/Jatin2_99</p>
                    <p class="copyright"><span><i class="fab fa-linkedin copyright fa-2x"></i></span>
                        www.linkedin.com/in/jatin-gautam2o99</p>
                </center>
            </div>
        </div>
    </div>

    <!-- Custom Javascript -->

</body>

</html>
