<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Guide</title>
</head>

<body>

    <!-- Example's Guide window -->
    <div class="container">
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
                <h1 class="guide-heading p-1">Lucero's Guide</h1>
                <p class="guide-blog p-3">We wanted to make the world better, more exciting and free for everyone and
                    that means a world where nothing can stop us from achieving what we want if we have strong will
                    power and work ethics for the things that we want. But the world can only change when the entities
                    living inside it changes first and we are bringing this change. With “Lucero”, you define those
                    changes. </p>
                <p class="guide-blog p-3">Show the world what you are good at, teach those who need your skills,
                    strengthened the human connections by creating communities and building them. Share your skills to
                    learn more.
                    Now we like to share with you some tips that will help you and guide you here.</p>
                <p class="guide-blog p-3">• “Lucero” always wants its nodes i.e. you to be healthy and secure and that's
                    why it has three types of authenticated user - Black tick users (non verified users), Green tick
                    users (verified users), Blue tick users (officially verified users). Initially the users are not
                    verified but after some time we verify them.</p>
                <p class="guide-blog p-3">• Same analogy works in case of Pages.</p>
                <p class="guide-blog p-3">• Now creating pages is the moment where we bring the change in the world, we
                    may define a problem that hasn't been addressed yet or a solution that is different than the
                    existing one or a tool that one can use to define something new in the world or just a place to
                    share your views, ideas and information to everyone who wants to listen and much more.</p>
                <p class="guide-blog p-3">• But creating pages also means creating places to rejoice with your people,
                    to share entertainment or jokes to people around you, to motivate your friends, to debate on topics
                    you like and to make a whole new universe.</p>
                <p class="guide-blog p-3">• We uses only mail (the one which mailed you the otp at the time of sign up)
                    system for contacting our users but you can also follow us on twitter (www.twitter.com/Jatin2_99)
                    and LinkedIn (www.linkedin.com/in/jatin-gautam2o99) to get the latest updates and information.</p>
                <p class="guide-blog p-3">• “Lucero” is the new way of interacting with strangers and making connections
                    but one should know the boundaries of doing this. In the same sense, if any user has some problem
                    with other user, she/he can write it in feedback page and keep the evidence for further
                    investigation.</p>
                <p class="guide-blog p-3">• But the feedback page is not only for complains, we would love to hear from
                    you about “Lucero” and what more we could do to make it more exciting, what features we could add or
                    what rules we could append etc.</p>
                <p class="guide-blog p-3">• The current version of Lucero app does not support real time changes so we
                    have provided a refresh button to load the content with new changes but when you move from one
                    screen to another the content are already refreshed so you don't need to press refresh button (think
                    of it like web pages).</p>
                <p class="guide-blog p-3">• You will automatically be logout from our server 24hr after login so you
                    have to login again else you will get errors.</p>
                <p class="guide-blog p-3">• You may get errors if you send too many requests to server. If that be the
                    case please try after 30 minutes</p>
                <p class="copyright">Copyright © 2022 Jatin Gautam </p>
                <p class="copyright">Email - lucero2a134@gmail.com</p>
                <center>
                    <p class="copyright"><span><i class="fab fa-twitter-square copyright fa-2x"></i></span>
                        www.twitter.com/Jatin2_99</p>
                    <p class="copyright"><span><i class="fab fa-linkedin copyright fa-2x"></i></span>
                        www.linkedin.com/in/jatin-gautam2o99</p>
                </center>
            </div>
        </div>
    </div>

    <!-- Custom Javascript -->

</body>

</html>
