<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/all.css">
    <title>List</title>
</head>

<body>

    <!-- List window -->
    <div class="container">
        <div id="message"></div>
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
                <i class="fas fa-arrow-left mb-2" style="cursor: pointer;" id="back"></i>
                <h1 class="guide-heading p-1" id="head"></h1>
                <div class="people" id="list">
                  
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Javascript -->
    <script src="js/list.js"></script>
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>

</html>