<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/all.css">
    <title>Created Page</title>
</head>

<body>

    <!-- Personal Page window -->
    <div class="container">
        <div id="message"></div>
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
		<i class="fas fa-arrow-left mb-2" style="cursor: pointer;" id="back"></i>
                <!---- Page Image ----->
                <center>
                    <img src="" class="img-fluid editPr-img" alt="." id="pic">
                    <i class="fas fa-camera fa-2x mt-2 mb-2" style="color: #2d7eff; cursor: pointer;"></i>
                    <input type="file" id="img" name="img" accept="image/png, image/jpeg">(Max 3MB)
                    <h6 style="font-family: sans-serif; color:#0937ad; font-weight:bold; text-decoration:underline;cursor:pointer" id="submit">Submit</h6>
                </center>
                <!--x-- Page Image ----x-->
                <br>

                <div class="guide-blog p-2">
                    <center>
                        <h5 style="font-family: sans-serif;" id="head"></h5>
                    </center>
                </div>

                <!---------- Page Features ------------->
                <div class="connection-tags mt-2 mb-2">
                    <div class="tag m-1 p-2" id="admins">
                        <h5 style="font-family: sans-serif;">Admins</h5>
                    </div>
                    <div class="tag m-1 p-2" id="members">
                        <h5 style="font-family: sans-serif;">Members</h5>
                    </div>
                    <div class="tag m-1 p-2" id="request">
                        <h5 style="font-family: sans-serif;">Requests</h5>
                    </div>
                </div>
                <!-------x---- Page Features ---------x-->

                <a href="/editPage" style="text-decoration: none;">
                    <div class="page-edit-heading p-2">
                        <center>
                            <h5 style="font-family: sans-serif;"><span><i class="fas fa-pen mb-2"></i></span> Edit Page
                                Info</h5>
                        </center>
                    </div>
                </a>
                <br>
                <br>
                <p class="copyright">Copyright © 2022 Jatin Gautam </p>
                <p class="copyright">Email - lucero2a134@gmail.com</p>
                <center>
                    <p class="copyright"><span><i class="fab fa-twitter-square copyright fa-2x"></i></span> www.twitter.com/Jatin2_99</p>
                    <p class="copyright"><span><i class="fab fa-linkedin copyright fa-2x"></i></span> www.linkedin.com/in/jatin-gautam2o99</p>
                </center>
            </div>
        </div>
    </div>

    <!-- Custom Javascript -->
    <script src="js/personalPage.js"></script>
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>

</html>
