<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/all.css">
    <title>SignUp</title>
</head>

<body>

    <!-- SignUp window -->
    <div class="container">
        <div id="message"></div>
	</div>
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
                <center>
                    <h1 class="card-title front py-1">Welcome to Lucero</h1>
                </center>
                <div class="tags flex-row">
                    <a href="/" class="btn btn-primary mx-2 tag">SignIn</a>
                    <a href="/signUp" class="btn btn-primary mx-2 tag">SignUp</a>
                    <a href="/about" class="btn btn-primary mx-2 tag">About</a>
                </div>
                <div class="front-page px-5 py-2">
                    <br>
                    <center>
                        <h6 style="font-family: sans-serif;">Enter your details to get OTP</h6>
                    </center>
                    <h5 style="font-family: sans-serif;">Tagname <span style="font-size: 12px;">(1-15)</span>:</h5>
                    <input type="text" class="form-control" id="tagname" placeholder="Tagname">
		    <div id="tagname_index">0</div>
                    <div id="tagname-validate">Think of it as nickname</div>
                    <br><br>
                    <h5 style="font-family: sans-serif;">Email <span style="font-size: 12px;">(1-40)</span>:</h5>
                    <input type="email" class="form-control" id="email" placeholder="Email">
		    <div id="email_index">0</div>
                    <div id="email-validate"></div>
                    <br><br>
                    <h5 style="font-family: sans-serif;">Username <span style="font-size: 12px;">(1-15)</span>:</h5>
                    <input type="text" class="form-control" id="username" placeholder="Username">
		    <div id="username_index">0</div>
                    <div id="username-validate"></div>
                    <br>
                    <div class="type-gender p-3">
                        <h6 style="font-family: sans-serif;">Do you agree to our terms of use and privacy policy. <a
                                href="/tof">View</a></h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="policy" id="yes">
                            <label class="form-check-label" for="yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="policy" id="no">
                            <label class="form-check-label" for="no">
                                No
                            </label>
                        </div>
                    </div>
                    <br>
                    <center>
                        <div class="spinner-border" role="load" id="load" style="display: none;"></div><br>
                        <i class="fas fa-paper-plane fa-3x send-button p-3" id="sendButton"></i>
                    </center>
                    <br>
                    <center><a href="/register" class="link" style="color: white;">
                            Click here to enter OTP and create your account
                        </a></center>
                </div>
                <br>
                <p class="copyright">Copyright © 2022 Jatin Gautam </p>
                <p class="copyright">Email - lucero2a134@gmail.com</p>
                <center>
                    <p class="copyright"><span><i class="fab fa-twitter-square copyright fa-2x"></i></span> www.twitter.com/Jatin2_99</p>
                    <p class="copyright"><span><i class="fab fa-linkedin copyright fa-2x"></i></span> www.linkedin.com/in/jatin-gautam2o99</p>
                </center>
            </div>
        </div>
    </div>

    <!-- Custom Javascript -->
    <script src="js/signUp.js"></script>
    <script src="/jq/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

</body>

</html>
