<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="css/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/top.css">
    <link rel="stylesheet" href="css/all.css">
    <title>TOF</title>
</head>

<body>

    <!-- Privacy Policy window -->
    <div class="container">
        <div class="card carded my-3" style="width: 100%;">
            <div class="card-body">
                <h1 class="privacy-heading p-1">Terms of use and privacy policy</h1>
                <p class="privacy-blog p-3" style="font-size: 3vh;">Steve Jobs said “Privacy means people know what they are signing up for in
                    plain English and repeatedly” and that's what we stand with but we also believe that users also
                    plays an important role in the system and that is why we have certain rules or policies - </p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">• Since “Lucero” is a platform of ideas and innovations, everyone is allowed
                    to express themselves but in a manner in which there is no harm to others' reputation by misleading,
                    and false statements.</p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">• Sharing of pornographic content is strictly prohibited.</p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">• Accounts can be suspended on observing suspicious or illegal activities.
                </p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">• Using the word “Lucero” is strictly prohibited apart form when referencing
                    for its general meaning.</p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">• It is important that all users should follow the ethical and moral values
                    while using the platform.
                </p>
                <p class="privacy-blog p-3" style="font-size: 3vh;">By using our product and services you agree to follow the terms or
                    guidelines mentioned above, violation of any one or more terms will result in blocking of those
                    individuals (or groups) from “Lucero” and could also face legal action by us.
                </p>
            </div>
        </div>
    </div>

</body>

</html>